<section>
      <% facade.fuel_stations.each do |i| %>
        <h3 class="station"> <%= station.name %></h3>
          <ul>
            <li> <%= i.address %></li>
            <li> <%= i.fuel_types %></li>
            <li> <%= i.distance %></li>
            <li> <%= i.access_time %></li>
          </ul>

        <% end %>
      </section>
